#light {
  background: linear-gradient(160deg, #cfabec 1%, #12f4e1 100%);
}

#dark {
  background: linear-gradient(160deg, #7841a5 1%, #069286 100%);
}
.themeToggler li {
  display: flex;
}

.themeToggler li span {
  padding-top: 6px;
  padding-right: 2px;
}

.themeToggler label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.themeToggler input {
  -webkit-appearance: none;
  appearance: none;
  height: 28px;
  width: 54px;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: 0.3s;
}

.themeToggler input:before {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  left: 5px;
  top: 4px;
  transition: 0.2s;
}

.themeToggler input:checked {
  background-color: #fff;
  border: 2px solid #121212;
}

.themeToggler input:checked:before {
  background-color: #121212;
  left: 30px;
}

.themeToggler input:checked:after {
  color: #000;
}

.onPageCircle {
  display: inline-block;
  height: 13px;
  width: 13px;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  margin-right: 6px;
  border-color: #dcb434;
}

@media screen and (max-width: 769px) {
  .menuBtn {
    display: block;
    margin-left: 16px;
    cursor: pointer;
  }

  .navbar {
    height: 80px;
    background-color: #fff;
    color: #121212;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    position: fixed;
    padding: 40px 30px;
  }

  .pageLinks {
    display: none;
  }

  .homeLink a {
    font-size: 1.1rem;
    color: black;
  }

  .themeToggler input {
    border: 2px solid #121212;
  }

  .themeToggler input:before {
    background-color: #121212;
  }

  .themeToggler span {
    display: none;
  }

  .sidebar {
    position: absolute;
    color: rgb(21, 19, 54);
    top: 121px;
    right: -250px;
    min-height: 10vh;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    border-radius: 5px;
  }

  .sidebarOpen {
    right: 0;
    transition: right 0.3s ease-in-out;
  }

  .sidebar ul li {
    padding: 10px 80px 10px 30px;
    font-size: 1.4rem;
  }

  .sidebar ul li a {
    transition: 0.2s;
    z-index: 0;
  }

  .sidebar ul li a:hover {
    color: #949494;
  }
}

/* @media only screen and (max-width: 769px) {
  .homeLink a {
    font-size: 1.1rem;
  }
} */

/* ///////////// */
@media only screen and (min-width: 767px) {
    .sidebar {
      display: none;
    }
  }
/*   
  @media only screen and (max-width: 769px) {
    .sidebar {
      position: absolute;
      color: rgb(21, 19, 54);
      top: 121px;
      right: -250px;
      min-height: 10vh;
      transition: right 0.3s ease-in-out;
      z-index: 999;
      border-radius: 5px;
    }
  
    .sidebarOpen {
      right: 0;
      transition: right 0.3s ease-in-out;
    }
  
    .sidebar ul li {
      padding: 10px 80px 10px 30px;
      font-size: 1.4rem;
    }
  
    .sidebar ul li a {
      transition: 0.2s;
      z-index: 0;
    }
  
    .sidebar ul li a:hover {
      color: #949494;
    }
  } */
