.App {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 4rem;
  font-family: 'Nunito';
}

#light {
  background: linear-gradient(160deg, #e1bdff 1%, #63d3ff 100%);
}
/* linear-gradient(160deg,  #00fcda 1%, #e0b27e 50%); */
#dark {
  background: linear-gradient(160deg, #5b327c 1%, #057fa4 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
